.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  animation: twinkle 3s infinite;
}

#stars-layer {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

nav {
  background: transparent;
}

#navbar ul li #labnav {
  color: var(--cyan);
  font-weight: bold;
}

.hidden {
  display: none;
}

/* ************** ANIMATIONS **************** */

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
