/*  NAVIGATION BAR STYLES */

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--navy);
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 10;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 16px;
}

ul li a {
  display: block;
  color: var(--white);
  padding: 20px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: var(--purple);
}

.nav-logo {
  display: block;
  padding: 16px 16px;
  text-decoration: none;
  font-family: "Orbitron";
  color: var(--white);
  font-size: 1.5rem;
}

ul li a.active {
  color: var(--cyan);
}
