#planets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 20px;
  gap: 20px;
}

#planets-grid .card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#planets-page-title {
  padding: 30px;
  color: var(--gold);
}

#planets-grid .card p {
  color: var(--grey);
  font-weight: bold;
}

#navbar ul li #discovernav {
  color: var(--cyan);
}

#planets-grid .card:hover {
  box-shadow: 0 0 20px rgba(var(--gold-rgb), 0.5);
}
